node_modules/
test-results/
playwright-report/
debug.log
.nx/
.angular/
dist/
coverage/
tmp/
.cache/
.DS_Store
*.tsbuildinfo
.nx/cache
.nx/workspace-data
.nx/migrate-runs
__screenshots__/
vitest.config.*.timestamp*

